<h1>MainPages#proj_list</h1>
<p>Find me in app/views/main_pages/proj_list.html.erb</p>
<%= link_to "Home over here", home_path %>
<%= link_to "Here's a path to the intro page", root_path %>

<nav class="proj-nav">
	<ul class="proj-categories">
		<% @proj_categories.each do |c| %>
			<li><%= categorizable c.cat_title %></p>
		<% end %>
	</ul>
	
	<!--<button>Date <span><%= @test_up_carret %></span></button>
	<button>Title <span><%= @test_down_carret %></span></button> -->
	<ul>
		<li><%= sortable "publish_date", "Publish Date" %></li>
		<li><%= sortable "title", "Title" %></li>
	</ul>
</nav>
<!-- Gonna try the railscasts table version http://railscasts.com/episodes/228-sortable-table-columns -->
<section class="flex-container">
	<% @projects.each do |p| %>
		<div class="flex-item">
			<h1><%= p.title %></h1>
			<%= simple_format(p.description) %>
			<% p.categories.each do |c| %>
				<li><%= c.cat_title %></li>
			<% end %>
			<p class="p_date"><%= p.publish_date %></p>
		</div>
	<% end %>
</section>
<table>
	<tr>
		<th><%= "title" %></th>
		<th><%= "category" %></th>
		<th><%= "publish date" %></th>
	</tr>
</table>
